
@font-face {
  font-family: "Linux Biolinum";
  src: url("../fonts/LinBiolinum_R.otf");
}

@font-face {
  font-family: "Linux Biolinum";
  src: url("../fonts/LinBiolinum_RB.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Linux Biolinum";
  src: url("../fonts/LinBiolinum_RI.otf");
  font-style: italic;
}

header {
  font-family: Exo, sans-serif;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  background: #ffcc00;
  font-weight: 200;
  margin: 0px;
  padding: 15%;
}

header h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  width: auto;
}

header p {
  margin: 0px;
  padding: 0px;
  width: auto;
}

body {
  font-family: "Linux Biolinum", sans-serif;
  font-size: 20px; /* instead of 18 px ... Biolinum boost !*/
  margin: 0px;
  padding: 0px;
}

section {
  margin: 0px;
  padding: 0px 0px;
  /*padding: 5% 15%;*/
  /*max-width: 960px;*/
}

section h1 {
}

.content {
  margin: 0px auto;
  max-width: 960px;
}

section p {
    margin: 0px auto 1em;
    max-width: 960px;
}

pre {
  padding: 0px;
}

pre code {
  display: block;
  width: 840px;
  margin: 0px auto; /* Uhu ? no impact ? */
}

code {
  font-family: Inconsolata, sans-serif;
  font-size: 18px;
}

}


