
html {
  font-family: Lato;
  margin: 0px;
  padding: 0px;
}

html body {
  margin: 0px;
  padding: 0px;
}

header {
  font-family: Exo;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  background: #ffcc00;
  font-weight: 200;
  margin: 0px;
  padding: 15%;
}

header h1 {
  font-size: 72px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  width: auto;
}

header p {
  margin: 0px;
  padding: 0px;
  width: auto;
}

/*
header #bullet {
  font-size: 36px;
}

header:hover #bullet {
  transition: 2s;
  font-size: 144px;
*/

}


